/* ================= VARIABLES & RESET ================= */
html {scroll-behavior: smooth;} /*Movimiento de scroll suave al redireccionar desde los frascos*/

:root{
  /* COLORES */
  --primary-bg: #ea00ff;
  --secondary-color: #fcf046;
  --shadow-color: rgba(34, 34, 34, 0.2);

  --gradient-main: radial-gradient(circle, rgba(234, 0, 255, 0.17) 0%, rgba(252, 240, 70, 0.23) 100%);
  --gradient-instagram: radial-gradient(circle, rgba(253, 26, 141, 1) 50%, rgba(252, 249, 70, 1) 100%);
  --gradient-whatsapp: radial-gradient(circle, rgba(37, 211, 102, 1) 50%, rgba(252, 249, 70, 1) 100%);
  
  /* Bordes y Sombras */
  --border-light: 1px solid rgba(0, 0, 0, 0.22);
  --radius-card: 30px;
  
  /* FUENTES */
  --text-dark: #222;
  --text-light: #fff;
  --font-delius: "Delius", cursive;
  --font-henny: "Henny Penny", system-ui;

  /* Capas (z-index) */
  --z-back: 1;
  --z-middle: 10;
  --z-front: 50;
  --z-modal: 100; 
}

/* Reset Global: Aplica a todo, evita problemas de padding */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Clases de utilidad tipografica */
.delius-regular{
  font-family: var(--font-delius);
  font-weight: 200;
  font-style: normal;
}

.henny-penny-regular {
  font-family: var(--font-henny);
  font-weight: 400;
  font-style: normal;
}

body{
  color: var(--text-dark);
  font-family: var(--font-main);
  background: #ffffff url("./assets/image/background.jpg") no-repeat center / cover;
  overflow-x: hidden; /* Evita socrol horizontal */
}

/* ================= ESCENA PRINCIPAL (CARRITO) ================= */

.escena-contenedor{
  width: 100%;
  min-height: 100vh; 
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /*Centrado vertical y horizontal*/
  overflow: hidden; /*Todo lo que sobrepase el limite, no se muestra barra scroll*/
  padding: 20px; 
  position:relative;    
}

/* --- Candy (Letras flotantes) --- */
.candy {
  position: absolute;
  top: 8%; /* Ajusta según dónde quieras que flote sobre el carro */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px; /* Espacio entre letras */
  width: 80%; /* Ancho relativo al carrito */
  z-index: 99;
  pointer-events: auto;
}

.candy img {
  width: clamp(60px, 15%, 100px);
  max-width: 44px;
  height: auto;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
  /* Animación de entrada */
  animation: aparecerLetra 0.6s backwards;
  filter: drop-shadow(5px 5px 2px #2222226c);  
}

.candy .D{margin-top: 10px;}

/* Efecto HOVER individual */
.candy img:hover {transform: scale(1.3) rotate(10deg); filter: brightness(1.2);}

/* Desfase de animación para que caigan una por una */
.candy img:nth-child(1) { animation-delay: 0.1s; }
.candy img:nth-child(2) { animation-delay: 0.2s; }
.candy img:nth-child(3) { animation-delay: 0.3s; }
.candy img:nth-child(4) { animation-delay: 0.4s; }
.candy img:nth-child(5) { animation-delay: 0.5s; }

.titulo{
  position: absolute;
  font-size: clamp(3rem, 5vw + 1rem, 5rem);
  text-align: center;
  top: 20%;
  z-index: 20;
  width: 100%;
  text-shadow: 6px 6px 6px rgba(255, 255, 255, 0.657);
  color: #3e3e3e;
  z-index: 20;
  font-weight: bold;
}

/* EL CONTENEDOR MÁGICO */
.carrito-wrapper {
  position: relative;
  width: 100%;
  max-width: 450px; 
  aspect-ratio: 562/1010; /* Medidas del carrito para que no se deforme*/
  margin: 0 auto;
}
  
.carrito-wrapper img {
  display: block;
  width: 100%;
  height: auto;
}

/*********** componentes del carrito **********/

/* 1. TOLDO: Se posiciona arriba, ocupando el ancho */
.toldo {
  position: absolute;
  top: 27%;
  left: 0;
  width: 100%;
  z-index: 10;
  pointer-events: none; /*permite que el mouse pase a travez de su contenedo*/
  will-change: transform; /* Fuerza el uso de la GPU para evitar el parpadeo */
  transform: translateZ(50px);
}
/* 2. BASE (Mesa + Columnas + toldo) */
.base-estructura {
  top:15%;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;  
  pointer-events: none;
}
.base-estructura img {filter: drop-shadow(5px 15px 5px #22222232);}
/* 3. RUEDA: Ahora es relativa a la BASE, no a la pantalla */
.rueda {
  position: absolute;
  width: 35% !important; /* Porcentaje relativo al ancho del carrito */
  bottom: 10%;
  left: 51.8%;
  z-index: 6;
  transform: translateX(-50%);
  filter: drop-shadow(1px 1px 1px #2222226c);
}

/* ================= FRASCOS ================= */
.frascos-container{
  position: absolute;
  top:47%; /*Ajusta segun donde caiga la mesa*/
  left: 10%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 100;
  gap: 0.3rem;
}
    
.frasco{
  width: 20.7%; /* Usar % hace que los frascos escalen con el carro */
  max-width: 80px; 
  cursor: pointer;
  animation: movimientoX 3s ease-in-out infinite;
  transition: transform 0.15s ease;
  filter: drop-shadow(0 6px 6px rgba(0,0,0,0.25));
}
.frasco:hover {
    transform: scale(1.1) translateY(-15px); /* Pequeño salto hacia arriba */
    filter: brightness(1.2) drop-shadow(0 10px 10px rgba(0,0,0,0.3));
}
.frasco:active {transform: scale(0.92);}

/* --- Slogan --- */
.slogan{
  position: absolute;
  width: 100%;
  bottom: 22%;
  left:25%;
  z-index: 8;    
}
.slogan img{
  max-width: 85px;
  height: auto;
  filter: drop-shadow(-3px 1px 1px #22222225);
}

/* --- Suelo --- */
.contenedor-suelo{
  position: absolute;
  left:0%;
  bottom: 1%;
  z-index: 0; 
  width: 100%;
  height: 90px; 
  overflow: hidden;
}
/*Efecto movimiento continuo*/
.suelo-infinito{
  width: 100%;
  height: 100%;    
  background-image: url("./assets/image/carrito/suelo.png");
  background-repeat: repeat-x; /* Se repite horizontalmente */
  background-size: 1920px 40px; /* Al ser una img con fin y continuidad desde ese punto se agrega la medida especifica*/
  animation: moverSuelo 20s linear infinite;
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.337);
}

/* ==========SECCIONES COMUNES (About, Productos, Contacto) ================= */
/* Agrupamos estilos compartidos para limpiar código */
#about, #productos, #contactos {
  display: flex;         
  flex-direction: column;
  justify-content: center;
  margin: 2rem 1rem;
  min-height: 100dvh;
  text-align: center;    
}

/* Estilos tipo "tarjeta" compartidos */
#about, #productos, .formulario{
  border: var(--border-light);
  border-radius: var(--radius-card);
  padding: 1em;
  background: var(--gradient-main);
}


/* Titulos H2 */
#about h2, #productos .sub h2, #contactos h2 {
  font-size: 1.5rem;
  margin-bottom: 1em;
}
#productos .sub h2, #contactos h2 {text-decoration: underline; }

/* Parrafos Compartidos */
.info, #productos p{
  line-height: 1; /*Espaciado entre texto*/
  font-size: 1.15rem;
  color: var(--text-dark);
}

/* --- About Específico --- */
.about h1 {
  font-size: clamp(2rem, 4vw, 4rem);
  margin-bottom: 0.2em;
}

.redes{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1.5rem;
}
/* .redes img{
    width: 30%;
} */

.instagram, .whatsapp{
  display: inline-flex;
  color: var(--text-light);
  padding: 15px 20px;
  border-radius: 50px;
  border: 2px solid white;
  font-size: 1.15rem;
}
.instagram { background: var(--gradient-instagram); }
.whatsapp { background: var(--gradient-whatsapp); }

/* --- Productos Específico --- */
#productos{min-height: auto;}

.carousel-inner img {
  width: 100%;
  height: 45vh; /* Define la altura deseada en píxeles, vh, u otra unidad */
  max-height: 500px;
  object-fit: cover; /* Ajusta la imagen para cubrir el área sin distorsionarla */
  object-position:center; /* Centra la imagen dentro de su contenedor */
  border: var(--border-light);
  border-radius: var(--radius-card);
}

/* --- Contacto Específico --- */
.formulario{
  display: flex;
  flex-direction: column;
  min-height: 500px;
  padding: 2em 1.5em;
  border: 1px solid #00000039;
  border-radius: 30px;
  margin: 1em 0.5em;
  background-image: url(./assets/image/contact/back-2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  background-color: #f6f6f61f;
  row-gap: 10px; /*Espacio entre inputs*/
}

.nombre input, .invitados label, .celular input, .contanos{
  width: 100%;
  color: var(--text-light);
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  height:2.5em;
  align-content: center; 
}
.nombre input , .celular input {
  padding-left: 2.5em;
}

.nombre input::placeholder, .celular input::placeholder{
  color: rgba(255, 255, 255, 0.8);
}

.contanos{
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height:auto;
}

.contanos textarea::placeholder{
  color: #000;
  font-size: 1.15rem;
}

/* checkbox containner */
.cantidad-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}
.cantidad-container label{
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.cantidad-container label img{width: 88px; height: auto;}

/*Cuando el imput esta checked, estiliza su label*/
.form-check-input {display: none;}
.form-check-input:checked + label{
  background-color: #fff;
  border: 2px solid #0e7b00;
  transform: scale(1.1);
  box-shadow: 0 0 10px #3bd200;
}

.btn-container{ text-align: center; width: 100%;}

.boton-imagen{
  background-image: url(./assets/image/contact/btn.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  border:none;
  cursor: pointer;
  width: 50%;
  height: 100px;
  background-size: contain;
}

/*Desactiva los saltos de linea*/
.on-tablet{display: none;}

/* Evita que la alerta se achique */
.alert {
    word-wrap: break-word; /* Rompe palabras largas si es necesario */
    white-space: normal;   /* Evita el formato poema */
}


/* ================= ANIMACIONES (Keyframes) ================= */
@keyframes aparecerLetra {
  0% { opacity: 0; transform: translateY(-50px) scale(0.5); }
  100% { opacity: 1; transform: translateY(0) scale(1); }
}

/*Clase para aplicar balanceoSuave al elemento slogan*/
@keyframes balanceoSuave{
  0%{ transform: rotate(5deg);} /*Inicia desde la derecha*/
  50%{ transform: rotate(-5deg);} /*Gira a la izquierda*/
  100%{ transform: rotate(5deg);} /*Vuelve a al derecha*/
}

@keyframes moverSuelo {
  0% {background-position: 0 0; /*Inicia fuera de la pantalla*/}
  100% {background-position: -1920px 0;}
  /* Desplazamos exactamente el ancho de la imagen */
  /* Al llegar a -1920px, el inicio de la segunda repetición 
  está exactamente donde empezó la primera, eliminando el salto */
}

@keyframes movimientoX {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(-3px); }
}

@keyframes balanceo3D {
  0%, 100%{
    transform: rotateX(0deg); /* Posición inicial (colgando recto) */
    filter: brightness(1); /* Luz normal */
    transform: translateZ(50px) rotateX(0deg);
  }
  50% {
    transform: rotateX(-20deg); /* Se levanta hacia el frente */
    filter: brightness(1.1); /* Un poco más de luz al levantarse (opcional) */
    transform: translateZ(50px) rotateX(-20deg);
  }
}
/* Aplicamos la animación al toldo */
.toldo-3d-anim {
      /* IMPORTANTE: El punto de pivote debe ser ARRIBA al centro */
      transform-origin: top center; 
      
      /* Duración: 2s,  Curva: ease-in-out (suave), Repetición: infinita */
      animation: balanceo3D 2.5s ease-in-out infinite;
      
      /* Esto ayuda a que el navegador renderice mejor el 3D */
      backface-visibility: hidden; 
      perspective: 1000px;
}

.anim-colgante{
  /*punto de anclaje, referencia*/
  transform-origin: top center;
  /*          Nombre |Durecion|Velocidad|Repeticion*/
  animation: balanceoSuave 3s ease-in-out infinite;
  will-change: transform; /*Mejora el renderizado de bordes*/
}

/* ================= MEDIA QUERIES (DRY) ================= */

/* --- TABLET (min-width: 600px) --- */
@media (min-width: 600px) 
{
  .on-tablet{ display: inline; }

  /* Escena */
  .candy img{ max-width: 70px; }
  .titulo{ font-size: 5rem; }
  .carrito-wrapper {max-width: 600px;}
  .frasco { max-width: 120px; }
  .slogan img { max-width: 140px; }
  .contenedor-suelo{ height: 140px; }
  .suelo-infinito { background-size: 1920px 55px; }  
  
  /* Secciones */
  #about{
    padding: 1em;
    font-size: 4rem;  
  }
  #about h1 { font-size: 4rem; margin-bottom: 0.2em; }
  #about h2{ font-size: 2.3rem; margin-bottom: 1em; }

  .info { line-height: 1.2; font-size: 1.5rem ;}

  /* Productos */
  #productos .sub h2 { font-size:2.5rem; }
  #productos p { line-height: 20pt; font-size:1.5rem; padding-bottom: 2em; }

  .carousel-inner img {
    height: 70vh; max-height: 1000px; }

  /* Contacto */
  #contactos h2{ font-size:2.5rem; }

  .nombre input, .invitados label, .celular input{ font-size: 1.5rem; }
  
  .nombre input::placeholder, .celular input::placeholder, .contanos textarea::placeholder{ font-size: 1.5rem; }

  .contanos{ font-size: 1.5rem; }

  .cantidad-container label img { width: 100px; }

  .boton-imagen { height: 180px; background-size: 140px; }

}

/* --- DESKTOP (min-width: 1024px) --- */
@media (min-width: 1020px) {
  
  .on-tablet{display: inline;}

  /* Ajustes finos de escena */
  .candy img { max-width: 45px; }
  .titulo{ font-size: 3.5rem; }
  .carrito-wrapper { width: 35%; }
  .frasco { max-width: 110px; }
  .slogan img { max-width: 90px; } 
  .contenedor-suelo{ height: 120px; }

  /* Layout: About y Productos uno al lado del otro */
  .about-productos{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    width: 100%;
    padding: 2rem;
  }

  /* Como ahora comparten fila, ajustamos anchos */
  #about, #productos {
    width: 50%;
    max-width: 600px;
    margin: 0; /* Removemos el margin global para que funcione el flex gap */
  }

  #about h1 { font-size: 2.3rem; }
  #about h2 { font-size:1.8rem; }
  
  .info, #productos p { font-size: 1rem; line-height: 1; }

  #productos .sub h2 { font-size:1.8rem; }
  
  .carousel-inner img {
    height: 70vh; /* Define la altura deseada en píxeles, vh, u otra unidad */
    max-height: 600px;
  }
  
  .instagram, .whatsapp{
  display: inline-flex;
  text-align: center;
  color: var(--text-light);
  padding: 10px 10px;
  border-radius: 50px;
    border: 2px solid white;
    font-size: 1.5rem;
  }

  /* * * * * * * * * * * * * * * * *
  /* Contacto */
  #contactos{
    width: 100%;
    align-items: center;
  }

  /* Contacto centrado */
  .formulario {
    width: 50%;
    max-width: 700px;    
  }

  #contactos h2{ font-size:1.8rem; }

  .nombre input, .invitados label, .celular input{ font-size: 1rem; }
  
  .nombre input::placeholder, .celular input::placeholder, .contanos textarea::placeholder{ font-size: 1rem; }

  .contanos{ font-size: 1rem; }

  .cantidad-container label img { width: 100px; }

  .boton-imagen { height: 130px; background-size: 120px; }

}
  /* * * * * * * * * * * * * * * * */  /* * * * * * * * * * * * * * * * */  /* * * * * * * * * * * * * * * * */

/* --- DESKTOP (min-width: 1900px) --- */
@media (min-width: 1900px) {
  
  .on-tablet{display: inline;}

  /* Ajustes finos de escena */
  .candy img { max-width: 65px; }
  .titulo{ font-size: 4.8rem; }
  .carrito-wrapper { width: 30%; }
  .frasco { max-width: 110px; }
  .slogan img { max-width: 150px; } 
  .contenedor-suelo{ height: 140px; }

  /* Layout: About y Productos uno al lado del otro */
  .about-productos{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 10rem;
    width: 100%;
    padding: 2rem;
  }

  /* Como ahora comparten fila, ajustamos anchos */
  #about, #productos {
    width: 50%;
    max-width: 700px;
    margin: 1rem; /* Removemos el margin global para que funcione el flex gap */
    max-height: 100vh;
  }

  #about h1 { font-size: 4rem; }
  #about h2 { font-size:2.8rem; }
  
  .info, #productos p { font-size: 1.4rem; line-height: 1.1 ; }

  #productos .sub h2 { font-size:2.8rem; }
  
  .carousel-inner img {
    height: 60vh; /* Define la altura deseada en píxeles, vh, u otra unidad */
    max-height: 750px;
  }
  
  /* * * * * * * * * * * * * * * * *
  /* Contacto */
  #contactos{
    width: 100%;
    align-items: center;
  }

  /* Contacto centrado */
  .formulario {
    width: 70%;
    max-width: 900px;    
    max-height: 100vh;
  }

  #contactos h2{ font-size:2.8rem; }

  .nombre input, .invitados label, .celular input{ font-size: 1.5rem; }
  
  .nombre input::placeholder, .celular input::placeholder, .contanos textarea::placeholder{ font-size: 1.5rem; }

  .contanos{ font-size: 1.5rem; }

  .cantidad-container label img { width: 100px; }

  .btn-container{ padding: 0}

  .boton-imagen { height: 130px; background-size: 120px; }

}
  /* * * * * * * * * * * * * * * * */  /* * * * * * * * * * * * * * * * */  /* * * * * * * * * * * * * * * * */

  