/*RESET STYLE DEFECT BROWSER*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* * * * * * * * * * * * * * * * * * * * */
.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 200;
  font-size: x-large;
  font-style: normal;
}

.henny-penny-regular {
  font-family: "Henny Penny", system-ui;
  font-weight: 400;
  font-style: normal;
}

:root {
   --s: 1; /*escala base movil */
}

body {
  background: #ffffff url("./assets/image/background.jpg") no-repeat center / cover;
}

.escena{
    position: relative;
    width: 100%;
    max-width: 450px;  /* mobile first (max ancho celular) */
    margin: 0 auto;
    overflow: hidden; /*Todo lo que sobrepase el limite, no se muestra barra scroll*/
    min-height: 100vh; /*Fallback se aplica si el navegador no soporta dvh*/
    min-height: 100dvh; /*Medida dinamica que toma en cuenta barra del navegador*/
    padding: 0%;
    display: flex;
    flex-direction: column;
  }
/* ================= TOLDO ================= */
.toldo{
    width: 100%;
    height: auto;
    top: 10%; /*Relativo a la escena, no al celular*/
    z-index: 4;
}

.toldo img{
    width: 100%;
    height: auto;
    display: block;
}
/* ================= ESTRUCTURA =============== */
.estructura {
  position: absolute;
  inset: 0; /*top / right / bottom / left = 0*/
}

/* ================= COLUMNAS ================= */
.columnas{
    position: absolute;
    bottom: 35%; /* MISMO bottom que la mesa aprox*/
    top:28%;
    left: 0;
    right: 0;
    height: auto; /* altura real del soporte */ 
    pointer-events: none;
    
}

.columna{
    position: absolute;
    bottom: 0;
    width: 20px;
    height: 100%; /*Altura visible real*/
    object-fit: cover;
    overflow: hidden; /*Recorte*/
}

.columna img{
    width: 100%;
    height: 100%;
}

.columna-atras:nth-child(1){
    left: 29%;
    bottom: 1%;
    transform: scale(0.9);
    filter: brightness(0.9); /* Efecto de sombra para las de atrás */
    
}
.columna-atras:nth-child(2){
    right: 5%;
    bottom: 1%;
    transform: scale(0.95);
    filter: brightness(0.9); /* Efecto de sombra para las de atrás */
}


.columna-delante:nth-child(1){
  left:22%;

}
.columna-delante:nth-child(2){
  right:2%;

}
.columnas-atras { z-index: 1; }
.columnas-delante { z-index: 3; }

/* ================= MESA ================= */
.mesa{
    position: absolute;
    width: 100%;
    bottom: 12%;
    left:50%;
    transform: translate(-50%);
    z-index: 2;
}

.mesa img{
    width: 100%;
    display: block;
    margin: 0 auto;  
    
}

/* Eliminamos los paddings en píxeles que rompen la proporción */
.columna-atras, .columna-delante {
    padding-bottom: 0 !important; 
}

/* ================= FRASCOS ================= */
.frascos{
    position: absolute;
    bottom: 96%;
    left: 60.5%;
    transform: translateX(-50%);
    display: flex;
    align-items: flex-end;
    gap: 0.3rem;
  }
  
  .frascos img {
    width: 85px;
    filter: drop-shadow(0 6px 6px rgba(0,0,0,0.25));
    align-self: flex-end;
    animation: movimientoX 3s ease-in-out infinite;
}

.frascos .prod img{
  transform: translateY(12%);
}

/* ================= DECORACIÓN ================= */

.logo{
    display: flex;
    justify-content: center;
    padding-top: 15%;
    width: 100%;
    height: 17vh;
}
.logo img{
  height: 60px;
}

.titulo{
  font-size: xx-large;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 20%;
  width: 100%;
  z-index: 5;
}

.slogan{
    position: absolute;
    bottom: 4.5rem;
    left:30%;
    
  }

  .slogan p{
    font-size: 0.8em;
    color: #323232;
  }




/*Efectos al click*/
.frascos a {
  transition: transform 0.15s ease;
}
.frascos a:active {
  transform: scale(0.92);
}


@keyframes movimientoX {
  0%,100% { transform: translateX(0); }
  50% { transform: translateX(-6px); }
}

/* * * * * * * * * ABOUT * * * * * * * */
#about, #contactos {
    display: flex;      /* Ayuda a centrar verticalmente si sobra espacio */
    flex-direction: column;
    justify-content: center;
    margin: 2rem 1rem;
    min-height: 100dvh; /* Correcto */
    height: auto;  /* Permite crecer */
    box-sizing: border-box; /* Asegura que el padding no sume al ancho */    
}

#about{
    text-align: center;
    border: 1px solid #00000039;
    border-radius: 30px;
    padding: 1em;
    background: #ea00ff;
    background: radial-gradient(circle,rgba(234, 0, 255, 0.17) 0%, rgba(252, 240, 70, 0.23) 100%);
}

#about h1{
 font-size: xx-large;
 margin-bottom: 0.2em;
}
#about h2{
    font-size:1.5rem;
    margin-bottom: 1em;
}

.info {
    text-align: center;
    line-height: 14pt;
    font-size:1.15rem;
    color: #222;
}

.redes{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.redes img{
  width: 25%;
}

.instagram {
      display: inline-flex;
      background: #FD1A8D;
      background: radial-gradient(circle,rgba(253, 26, 141, 1) 50%, rgba(252, 249, 70, 1) 100%);
      color: white;
      padding: 15px 20px;
      border-radius: 50px;
      border: 2px solid white;
      font-size: 1.15rem;
    }
.whatsapp {
      display: inline-flex;
      background: #25D366;
      background: radial-gradient(circle,rgba(37, 211, 102, 1) 50%, rgba(252, 249, 70, 1) 100%);
      color: white;
      padding: 15px 20px;
      border-radius: 50px;
      font-size: 1.15rem;
      border-color: white;
      border: 2px solid white;
    }

/* * * * * * * * * PRODUCTOS * * * * * * * */

#productos{
    display: block;
    text-align: center;
    margin: 1.5em;
    padding-top: 2rem;
    
}

.sub{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

#productos .sub h2{
    font-size:1.5rem;
    margin-bottom: 1em;
    text-decoration: underline;
}

#productos p{
  line-height: 14pt;
  font-size:1.15rem;
  color: #222;
}

.carousel-inner img {
  height: 45vh; /* Define la altura deseada en píxeles, vh, u otra unidad */
  max-height: 500px;
  width: 100%;
  object-fit: cover; /* Ajusta la imagen para cubrir el área sin distorsionarla */
  object-position:center; /* Centra la imagen dentro de su contenedor */
  border: 1px solid #00000039;
  border-radius: 30px;
}



/* * * * * * * * * CONTACTOS * * * * * * * */

#contactos{
    padding-top: 2rem;
    display: block;
    text-align: center;

}

#contactos h2{
    font-size:1.5rem;
    margin-bottom: 1em;
    text-decoration: underline;

}

.formulario{
    height: auto;
    min-height: 500px;
    padding: 2em 1.5em;
    border: 1px solid #00000039;
    border-radius: 30px;
    padding: 1.5em;
    margin: 1.5em;
    background-image: url(./assets/image/contact/back-2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover; /* Scale to cover the entire container */
    background-color: #f6f6f61f;
}
.formulario label{
    color: #ffff;
    text-decoration:underline;
    font-size: 1.15rem;
    border: 1px solid #ffffff18;
    border-radius: 20px;
    margin: 1em;
    padding: 0.5em 1em;
    background-color: #0d0d0d85;

}



/* MediaQ tablet*/
@media (min-width: 600px) {
  .columnas {
    height: 300px;
  }
}

/* MediaQ desktop*/
@media (min-width: 1024px) {
  :root { --s: 1.4; }

  .escena {
    max-width: 900px;
  }

  .toldo,
  .columnas,
  .mesa,
  .decoracion {
    position: absolute;
  }

  .columnas {
    perspective: 900px;
  }

  .columna-atras {
    transform: translateY(-20px) translateZ(-40px);
  }

  .columna-delante {
    transform: translateY(10px) translateZ(0);
  }
}